/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .phonering-alo-ph-img-circle {
        position: relative;
        top:-70px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    
    .social-medias-block {
        display:grid;
        place-items: center;
    }

  .carousel-item h1 {
    font-size: 32px;
  }

    .full-width-slider p {
        font-size: 1.2rem;
    }

    .project-description {
       right: 0;
       left: 20px;
       height: auto;
       width: 80%;
       margin: auto;
       top: -120px;
    }

    .riverside-project .project-description {
        left: 20px;
    }
    
    .projects-wrapper > .col-xs-12:last-child .project-description {
        left: -8px;
    }
    

    .zundas-project,
    .riverside-project {
        width: 100%;
    }


    .static-contact-form {
       position: absolute;
       top: 1200px;
       width: 95%;
       margin-bottom:50px;
    }

    .cf-pos {
        position: absolute;
        top: 25px;
    }

    .contact-information {
        position: relative;
        top:50px;
    }

    .contact-page-wrapper .col-md-8 {
        padding-right: 0px !important;
    }

    .contact-information,
    .contact-section .static-contact-form {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .contact-page-wrapper .container-fluid {
        width: 100%;
    }

    .footer-navigation {
       margin-left:10px;
    }


}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    /* .static-contact-form {
        position: absolute;
        top: 1400px;
        width: 95%;
        margin-bottom:50px;
     } */

     .socila-icons {
         width: 100%;
         margin: auto;
     }
     .socila-icons i {
        margin-top: 40px;
     }

     .cf-pos {
        position: absolute;
        top: 25px;
    }

    .zundas-project img,
    .riverside-project img {
        min-height: 320px;
    }

    .our-project-section .project-description {
        position: relative;
        top: -200px;
    }
    

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}

