.wrapper {
  border-top: 10px #eee solid;
  position: relative;
}


.main-navigation {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  top:0px;
  z-index: 100;
  transform: translateZ(0);
  transition:all 0.5s;
}

.header-wrap {
  /* position: relative;
  display: flex; */
  margin-left: 160px;
}

/* .logo-wrap {
  float: left;
} */

.logo-wrap img {
    margin-top: 10px;
    display: block;
    margin: 21px auto -4px;
    height: 80px;
}
/*
.top-mnu {
  position: relative;
  left: 150px;
  margin: auto;
} */

.mega-sub {
  margin-bottom: 30px;
  cursor: pointer;
}

.main-navigation .mega-sub li a {
  font-size: 16px;
}

.mega-sub i {
  margin-right: 5px;
}

.sf-menu {
  position: static;
  float: none;
  background-color: transparent;
  margin-left: 100px;
}

.sf-menu li {
  background: transparent !important;
}

.sf-menu .sf-mega {
  background-color: rgba(0,0,0,.6);
  padding: 50px 0;
  width: 100%;
  /* margin-top: 50px; */
}

.sf-mega {
  padding: 10px !important;
}

.sf-menu .sf-mega ul {
  display: block;
  float: none;
  position: relative;
  box-shadow: none;
  margin: auto;
  text-align: left;
  left: 39%;
}

.main-navigation .top-mnu li {
  font-size: 18px;
}


.mega-sub li a,
.top-mnu li h3 a {
  color: #003366;
  text-decoration: none;
}

/* .main-navigation .sf-menu > li > a {
  border-top: none;
  border-left: none;
} */

.main-navigation .sf-menu li,
.main-navigation .sf-menu li:last-child {
  border-left: none;
  border-right:none;
}

.menu-transparency {
  background-color: rgba(255,255,255, .95) !important;
  animation:slide-down 0.7s;
}
@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  } 
  100% {
      opacity: 0.9;
      transform: translateY(0);
  } 
}

.sub-mnu-container {
  text-align:center;
  padding: 15px;
}

.sf-menu li {
  white-space: normal;
  position: static;
}

.sf-menu > li > ul {
  width: 220px;
  left: auto;
}


.sf-menu > li > ul li .sf-with-ul::after {
  font-family: "FontAwesome";
  content: '';
  right: 1em;
  position: absolute;
}

.responsive-img {
  width: 80%;
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu.off span {
  background-color: transparent!important;
}
.toggle-mnu.off span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.off span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  float: right;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 40px;
}

.sf-menu li,
.sf-menu ul li {
  background: none;
  padding:25px;
}


.sf-menu>li>a {
    padding: 0;
}

.sub-appartment li {
  position: relative;
  right: 90%;
}

.sf-menu a {
  color: #000;
  padding:0;
}

.sf-menu > li {
  background-color: #fff;
  border-left: #ddd 1px solid;
}

.sf-menu > li:last-child {
  border-right: #ddd 1px solid;
}

.sf-menu > li > a {
  border-top: none;
  border-left: none;
  /*padding: 20px 20px;*/
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  color:#fff;
}


.sf-menu > li > a + * a {
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}

.overlay-section a:hover {
  color: orange !important;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
  background: none !important;
}

.sf-menu .container-fluid {
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.sf-menu .row {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.sf-menu .col-lg-1, .sf-menu .col-lg-10, .sf-menu .col-lg-11, .sf-menu .col-lg-12, .sf-menu .col-lg-2, .sf-menu .col-lg-3, .sf-menu .col-lg-4, .sf-menu .col-lg-5, .sf-menu .col-lg-6, .sf-menu .col-lg-7, .sf-menu .col-lg-8, .sf-menu .col-lg-9, .sf-menu .col-md-1, .sf-menu .col-md-10, .sf-menu .col-md-11, .sf-menu .col-md-12, .sf-menu .col-md-2, .sf-menu .col-md-3, .sf-menu .col-md-4, .sf-menu .col-md-5, .sf-menu .col-md-6, .sf-menu .col-md-7, .sf-menu .col-md-8, .sf-menu .col-md-9, .sf-menu .col-sm-1, .sf-menu .col-sm-10, .sf-menu .col-sm-11, .sf-menu .col-sm-12, .sf-menu .col-sm-2, .sf-menu .col-sm-3, .sf-menu .col-sm-4, .sf-menu .col-sm-5, .sf-menu .col-sm-6, .sf-menu .col-sm-7, .sf-menu .col-sm-8, .sf-menu .col-sm-9, .sf-menu .col-xs-1, .sf-menu .col-xs-10, .sf-menu .col-xs-11, .sf-menu .col-xs-12, .sf-menu .col-xs-2, .sf-menu .col-xs-3, .sf-menu .col-xs-4, .sf-menu .col-xs-5, .sf-menu .col-xs-6, .sf-menu .col-xs-7, .sf-menu .col-xs-8, .sf-menu .col-xs-9 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.sf-menu .row {
  position: relative;
  left:15%;
}


.apartment-menu-section {
  position: relative;
  overflow: hidden;
}

.apartment-menu-section .mega-sub li {
    padding:0;
}



.overlay-section {
  opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.overlay-section > a {
  text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.overlay-section .mega-sub li {
  position: relative;
  top:90px;
  right:15px;

}


.overlay-section:hover {
  opacity: 1;
}

.overlay-section .horizontal {
  width: 90%;
}

.menu-new-item h3 {
  /* margin: 15px 0; */
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 8px;
}

.menu-new-item a {
  padding: 0;
  font-size: 18px;
  text-decoration: underline;
  border: none;
}

.menu-new-item p {
  font-size: 14px;
  color: #666;
}

.active-language {
    color:#fff;
}

.menu-new-item img {
  height: 240px;
  width: 100%;
}

.sf-menu > li > a + * .menu-new-item a {
  border-bottom: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
}


.header-contact-number span {
  position: relative;
  font-size: 14px;
  font-family: 'Open sans-serif';
  font-weight: normal;
  right: 130px;
  /* display: flex; */
  /* left: 335px; */
  /*float: left;*/
  /*left: 160px;*/
  top: 27px;
  color: #fff;
}


.link-container {
  text-align: center;
}

/* Language selection */

.language-dropdown {
  /* display: flex; */
  /* position: relative; */
  /* bottom:90px;
  left: 240px; */
  /* bottom: 72px; */
  /* left:120px; */
  float: right;
}

/*
.dropdown-menu a,
.language-dropdown a{
  color: #222;
}
*/

.sf-menu > li > a, #btnGroupDrop1, .active-language,
.active-language:hover {
    color: #fff;
}


.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #000;
  outline: none;
}


.phone-section p {
  font-size: 20px;
  font-weight: bold;
}

.phone-section {
  margin-left: 30px;
}

.burger-menu-mobile span,  .burger-menu-mobile span:after, .burger-menu-mobile span:before {
  background-color: #222 !important;
}

.cntc-and-lang {
  position: absolute;
  right: 65px;
  margin-bottom: 0px;
  bottom: 85px;
}

.cont-sticky{
  bottom: 24px;
}

.logo-sticky{
  position: absolute;
  top: 5px;
}


.off{
  position: absolute;
  top: 25px;
  left: 45px;
}

.off span,  .off span:after, .off span:before {
  background-color: #fff !important;
}

#mobile-menu{
  z-index:100;
}

cont-sticky {
    top: 10px;
}

.language-dropdown{
    top:-1px;
}

.mega-link{
    z-index:10;
}

.cntc-and-lang i{
    color:white;
}


.phone-icon i {
    color: white;
}


.phone-sticky i{
    color:orange;
}



.logo-sticky img {
    margin: -1px auto 0px;
    height: 105px;
}

/*==========  Desktop First Method  ==========*/


/* Medium Devices, Desktops */
@media (max-width: 970px) {
    
      .sub-appartment li {
    position: relative;
    right: 0%;
  }


  .language-dropdown {
    /* position: relative;
    left: 320px; */
    bottom: -42px;
    left: -15px;
  }

  .menu-new-item:first-child {
    margin-bottom: 20px;
  }
  
  .overlay-section a,
  .mega-sub li a {
      text-decoration:none;
      color: #fff;
  }
  

  .top-mnu ul {
    display: none;
  }

  .header-wrap {
    padding-bottom: 25px;
  }
  
  .projects-wrapper {
      margin-top: 150px;
  }
  
  .logo-sticky{
    position: relative;
  }

  .language-dropdown{
    top:-38px;
  }
  .btn-group{
    position: absolute;
    top: 8px;
  }

  .logo-wrap{
    padding-left: 25%;
    padding-right: 25%;
  }
  .cntc-and-lang {
    bottom: 106px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .language-dropdown {
    position: relative;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1550px) {

}

@media only screen and (min-width: 980px) {
    

  .toggle-mnu {
    display: none;
  }

  .toggle-mnu, #mobile-menu, html.mm-blocking #mm-blocker {
    display: none;
  }

  html.mm-opening .mm-slideout {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }


  .sub-mnu-container .col-lg-3:nth-child(2 ) .menu-new-item {
    /* margin-bottom: 30px;*/
    position: relative;
    left:70px;

  }

  .menu-new-item:first-child {
    /*margin-bottom: 20px;*/
  }

}




@media only screen and (max-width: 1240px) {

  .phone-sticky{
    display: none !important;
  }
  .header-contact-number{
    display: none !important;
  }

      

}
