* {
    padding: 0;
    margin: 0;
}

html{
    height:100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Color Variables */
:root {
    --action-button: #a2b9bc;
    --underline: orange;
}


.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    box-shadow:none;
    
}


h1 {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  text-align:center;
}

h1::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    background-color:orange;
}


h1.heading-text::after {
    content:"";
    height:0;
}

.btn-outline-primary {
    border-color: var(--action-button);
    color: var(--action-button);
}


.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.active, .btn-outline-primary:active,
.btn-outline-primary.active, .open>.dropdown-toggle.btn-primary   {
    background-color: var(--action-button) !important;
    outline: var(--action-button);
    box-shadow: var(--action-button);
    border-color: var(--action-button) !important;
    color: #fff;
}




body {
    background-color: #fffefe;
    font-family: 'Fira Sans Condensed', sans-serif;
    /* position: relative; */
    /*min-height:100%; */
    /* padding-bottom: 8rem; */
    overflow-x: hidden;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}


.page-wrapper {
    position: relative;
    /*margin-top: 12%;*/
    min-height: 100%;
    margin-bottom: 12.1%;
    /*top: 50px;*/
}

.section-background {
    background-color: #fff;
}

.text-style {
    text-transform: uppercase;
    letter-spacing: 4px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




h1,h2,h3,h4,h5,h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}



.section-styles {
    /* Margin top from navigation*/
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 5px;
    text-align:center;
}

.section-styles h1 {
    margin-top: 40px;
}

.appartment-page-section {
    /*text-align: center;*/
}

.appartment-page-section .breadcrumb {
    background-color:transparent;
}


.property-header {
    padding: 20px;
    width: 100%;
}

span.property-label {
    position:relative;
    top:40px;
    z-index: 5;
    right:12px;
    background-color:rgba(0,0,0,.5);
    color: #fff;
    padding: 5px;
    float:right;
    border-radius:2px;
    font-size:13px;
}

.left-property-sect {
    clear: both;
}

.left-property-sect p {
    margin-top: 10px;
    text-align:left;
}


.price-section {
    display: flex;
    justify-content: flex-end;
}

.left-property-sect p strong {
    margin-left:15px;
}


/* Property Description */

.property-description-section {
    margin-top: 90px;
    /* display: flex; */
}

.property-description-section h2 {
    text-align: center;
}


.property-description {
    padding: 30px;
    /* height:100%; */
    width:101.5%;
    text-align:center;
}

.property-content {
    margin-top: 30px;
}

.property-description-section p {
    text-align: justify;
    letter-spacing: 0.5px;
    /*line-height: 1.8;*/
}

.property-content > .row > .col-md-6:first-child p:nth-child(2):first-letter {
    color: #c69c6d;
    font-weight: bold;
    font-size: 26px;
}

/* Contact Form */

.static-contact-form {
    min-width:350px;
    border-bottom: 5px solid #0c68cc;
}

.static-contact-form > form {
    padding:20px;
}

.sticky {
    position: fixed;
    top: 75px;
    z-index: 10;

}



/* .static-contact-form h2 {
    background-color: #007bff;
    padding: 15px;
    color: #fff;
    width: 100%;
    border-bottom: 8px solid #0c68cc;
    text-align: center;
} */

.contact-text-style {
    color: #222;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    /* background-color: #007bff; */
}

.form-control:focus {
    box-shadow: none;
}

.hidden {
    display:none;
}

.alert-success {
    margin-top: 20px;
}

.group {
    position:relative;
    margin-bottom: 25px;
}

.contact-section .button-group {
    margin-top:40px;
}

.inputMaterial 	{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}

.inputMaterial:focus { 
    outline:none !important;
    border-bottom: none;
}

form.submitted input:invalid:focus, form.submitted textarea:invalid:focus {
    border-bottom: none;
}

.inputMaterial label {
    color:#999;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label {
    top:-20px;
    font-size:14px;
    /*color: #007bff;*/
    color: var(--underline);
}


form.submitted input:invalid,
form.submitted textarea:invalid {
    border-bottom: 4px solid red;
}


/* BOTTOM BARS */
.bar {
    position:relative;
    display:block;
}

.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  border-bottom: none;
  background: var(--underline);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#007bff; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#007bff; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#007bff; }
  to 	{ width:0; background:transparent; }
}


/* Contact Form Styles End */



/* Property Details */

.property-details-section {
    text-align:center;
    margin-top: 60px;
    padding-bottom:50px;
}

.list-group-item:focus, .list-group-item {
    text-align: left;
}

.property-details-section h1 {
    padding-top: 25px;
}

.property-details-section ul {
    padding: 50px;
}

.property-details-section ul span strong {
    float: right;
}

.property-details-section ul span {
    padding-left: 12px;
}

.list-group li:nth-child(even) {
    background-color: #F2F2F2;
}

/* Property Features */

.features-section {
    margin-top: 40px;
    padding-bottom:50px;
}

.features-section h1 {
    padding-top: 20px;
}

.custom-control label {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 2px;
}
.custom-control {
    text-align: center;
}

.features-wrapper {
    padding-bottom: 40px;
}

.features-wrapper input[type="checkbox"]{
    color: orange;
}

/* Slider */

/* #carousel-example-generic {
    /margin: 20px auto;
    width: 400px;
} */

.carousel-indicators {
    margin: 0 !important;
}

#carousel-custom {
    margin-top: 20px;
}


#carousel-custom .carousel-indicators {
    padding: 10px;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
}


.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 20px !important;
}


#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: 260px;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width:100%;

}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carousel-custom .carousel-outer {
    position: relative;
}


.carousel-item img {
    width:100%;
    max-height: 700px;

}

#mCSB_1_container img {
    height: 200px;
}

.mCSB_dragger_bar {
    background-color: #007bff !important;
}


.property-details-section ul img:nth-child(5),
.property-details-section ul li i {
   font-size: 1.2rem;
}

.property-description span strong {
    padding-left: 10px;
}


.apartment-view {
    margin-top: 50px;
}


.mCSB_dragger_bar {
    background-color: #CCC9C9 !important;
}

/* End Page Apartment Page */


/* Search Page */


.specifications p:first-child img {
    width: 19px;
    position:relative;
    bottom:3px;
    right:3px;
}

p {
    margin-bottom: 0px !important;
}

.filter-appartment,
.appartment-result-section {
    z-index:50;
    font-family: "Open Sans";
    /* background-color: #ECEBEB; */
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.22);
}

.filter-appartment {
    position: relative;
    bottom:220px;
    text-align: center;
}

.filter-appartment h1 {
    font-weight: bold;
}

.selection-form {
    background-color: #fff;
    margin: auto;
    padding: 55px 15px;
}

.selection-form span,
.selection-form label {
    padding-bottom: 12px;
    color: #8f8f8f;
}

.selection-form > .clear-filter-link {
    margin-top: 35px;
}

.selection-form > .form-group:nth-of-type(4) {
  margin-top: 36px;
  font-weight: bold;
}

.selection-form span:nth-child(4)  {
    height: 12px;
    /*width: 21px;*/
    font-size: 25px;
    position:relative;
    right:6px;
}

/* .center {
    margin: 0 auto;
    text-align: center;
} */


.form-group {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-right:  0px !important;
    margin-left: 0px !important;
}

.select-el{
    margin-right: 40px !important;
    width: 100%;
}


option[value=default] {
    display: none;
}


/* Appartment result section */


.appartment-section {
    /* margin-top: 150px; */
    z-index:50;
    /* margin-bottom: 250px; */
}

.appartment-result-section {
    position: relative;
    bottom:120px;

}

.top-result-indicator {
    border-bottom: 2px solid #3333;
}

.filter-tag {
    display: inline-block;
    background-color: #222;
    color: #fff;
    min-width: 90px;
    /* height: 28px; */
    padding: 8px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.filter-tag span[aria-hidden="true"] {
    color: #fff;
}

.filter-tag p {
    text-align: center;
    line-height: 28px;
}

.top-result-indicator h2 {
    margin-top: 25px;
}

.appartment-search-results {
    margin-top: 50px;
}

.appartments-carts {
    margin-bottom: 100px;
}

.appartments-carts .col-md-4 {
    padding-right: 0;
}

.appartment-well-cart {
    background-color: #fff;
    /* -webkit-box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.50); */
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 5px;
    /* min-height: 250px; */
    margin-bottom: 45px;
    border-bottom: 1px solid #ECEBEB;
}


.img-block img {
    height: 250px;
    width: 100%;
}

.specifications {
    margin-top: 25px;
    top:20px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    border-bottom: 1px dashed solid  black;
}

.specifications i {
    padding: 3px;
}

.specifications p:last-child {
    margin-left:-8px;
}

.price {
    font-weight: bold;
    margin-left:auto;
}

.form-group:last-child {
    margin-left: 0px !important;
}

.appartment-well-cart {
    font-size: 18px;
}


.appartment-description,
.price-block {
    padding: 10px;
}

.price-block {
    display:flex;    
}



.appartment-title a {
    color:grey;
    position:relative;
    top:5px;
}

.appartment-well-cart hr {
    margin-bottom: 0px !important;
}

.appartment-view-block {
    margin-top: 100px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.appartment-view-block iframe {
    padding: 10px;
}


/* Blog Post  */


.blogpost-wrapper {
    text-align:center;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding: 30px;
}


.newblogpost p:empty {
    display:none;
}

.newblogpost a:first-child {
    padding:0;
}

.newblogpost:nth-child(even) .col-lg-7 {
    text-align:right;
}

.latest-blog-posts .card-body {
    padding-bottom: 20px;
    padding: 0;
}

.latest-blog-posts .card-body p {
    padding: 0.8rem;
    text-align:justify;
}

.latest-blog-posts .text-center {
    margin-top: 12px;
}

.latest-blog-posts .card-body a {
    margin-bottom:15px;
}

.latest-blog-posts > .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.latest-blog-posts h3 {
    font-weight:bold;
    padding:5px;
}

.newblogpost h3 {
    color: #4c4c4c;
    padding-bottom: 15px;
}

.newblogpost  button {
    font-family: "FUTURTHN" !important;
}

.news-blog h1 {
    left:15%;
    bottom:90px;
}


.newblogpost img {
    /*max-height: 400px;*/
    width: 600px;
    height: 350px;
    object-fit:cover;
}


.underline {
    position: relative;
}


.underline:hover:after, .underline:focus:after, .underline:active:after {
    width: 100%;
}
.underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    background-color: var(--underline);
    width: 0;
    transition: width 0.4s;
}


.blogpost-wrapper h1 {
    font-weight: bold;
    /*width: 100%;*/
    padding: 10px;
}

.newblogpost:nth-of-type(even) {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
}

.newblogpost:nth-of-type(even) .col-lg-7 {
    text-align:right;
}

.newblogpost {
    text-align: justify;
    padding-bottom: 50px;
}

.newblogpost .col-lg-5 {
    position: relative;
    top:10px;
    /*left:16px;*/
}

.newblogpost a {
    border-radius: 0;
    width: 130px;
    padding: 9px;
    font-size: 16px;
}

.newblogpost p {
 padding-bottom: 40px;
}

.blog-description p {
    color: #4c4e4d;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align:justify;
}


.blog-description strong {
    display: block;
    font-family: "Neutra";
}


.top-list {
    margin: 25px;
    margin-left: -15px;
}


.top-list i {
    padding: 10px;
    color: orange;
}

.socila-icons {
    float: right;
}

.socila-icons i {
    font-size: 32px;
    padding: 8px;
    position: relative;
    bottom: 20px;
}

.blog-description img {
    width: 100%;
    padding: 15px;
    height: 600px;
}

/*.blog-description p::first-letter {*/
/*    color: #c69c6d;*/
/*    font-weight: bold;*/
/*    font-size: 180%;*/
/*}*/


/* Blog Section End */


/* Contact Page */


/*.contact-page-wrapper {*/
/*    margin-top: 200px;*/
/*}*/

.contact-page-wrapper input,
.contact-page-wrapper textarea,
.contact-page-wrapper input:focus,
.contact-page-wrapper textarea:focus {
    background-color: transparent;
}

.contact-page-wrapper .container-fluid {
    padding-left: 0px !important;
}

.contact-page-wrapper .static-contact-form {
   position: relative;
   bottom: 25px;
}



.contact-page-wrapper .static-contact-form {
   border-bottom: none;
}

.contact-information {
    font-size: 18px;
}

.phone-btn .fa-phone {
    color:#28a745 !important;
}

.phone-btn:hover .fa-phone {
    color:#fff !important;
}

.contact-page-wrapper h1 {
    position:relative;
    bottom: 55px;
    left:20%;
}

.contact-section {
    margin-top:10px;
}

.contact-information i {
    width: 30px;
    margin-right: 25px;
    text-align: center;
}

.contact-information ul li {
    padding-bottom:12px;
}


.contact-details {
    margin-top: 90px;
}

.contact-information i {
    font-size: 22px;
    color: orange;
}

.contact-text-style i {
    color: #fff;
    font-size: 24px;
}

/* Map */

#map {
    height: 745px;
    width: 100%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.20);
}

/* Contact Page End */



/* Main Page Section */

/* Full Width Slider */

.full-width-slider .carousel-inner > .carousel-item > img {
    display: block;
    max-width: 100%;
    width: 100%;
    min-height:85vh;
    filter: brightness(50%);
    object-fit:cover;
}

.full-width-slider p {
    padding-top: 30px;
}

.carousel-item {
    color: #fff;
}

.carousel-item h1 {
    /*padding-bottom: 30px;*/
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

/* Underline animation */

.cmn-t-underline {
    position: relative;
}

.cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: orange;
    content:"";
    transition: width 0.3s;
}

.cmn-t-underline:hover:after {
    animation-delay: 5s;
    width: 100%;
}


.cmn-t-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}



@-webkit-keyframes border {
    from {width: 0px;}
    to {width:100%}
}

@keyframes border {
    from {width: 0px;}
    to {width:100%}
}

.h-underline:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    left:0;
    background: orange;
    -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}



.carousel-item p {
    max-width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
}



.full-width-slider #carousel-custom {
    margin: 0;
}

.full-width-slider .carousel-control-prev{
    left:0%;
}

.full-width-slider .carousel-control-next {
    left: 85%;

}

.appartment-page-section .carousel-control-prev,
.appartment-page-section .carousel-control-next {
    background-color: rgba(0,0,0,.2);
}



/* About Us*/

.about-description {
    position:relative;
    bottom: 30px;
}
.about-description p {
    text-align:justify;
}

.about-us-section {
    margin-top: 30px;
}

.about-us-section .col-md-6 {
    padding-left: 0px! important;
}

.about-us-image img {
    height: 500px;
    width: 100%;
}

.about-detail-section {
    text-align: center;
    padding-top: 60px;
    position: relative;
    bottom:50px;
}



.about-detail-section h1 {
    text-align: center;
    /* text-transform: uppercase; */
}



/* .about-detail-section {
    max-width: 500px;
    margin: auto;
} */


.about-detail-section p {
    text-align: justify;
    letter-spacing: 1.5px;
    margin-top: 40px;
}


.about-detail-section .sub-title p {
    margin-top: 40px;
    text-align: center !important;
}

.sub-title p strong {
    text-align: center;
    margin-top: 10px;
}

.about-detail-section button {
    margin-top: 40px;
    float:right;
}

.nav-placeholder {
    height: 0px !important;
}

.who-we-are-content {
    margin: auto;
}

/* Our Project */

.our-project-section {
    margin-top: 100px;
    text-align:center;
}


.project-description hr {
    width: 45px;
    background-color: #fff;
    margin: 0;
    position: relative;
    left: 108px;
}

.projects-wrapper {
    padding-top: 20px;
    position: relative;
    right: 67px;
}


.projects-wrapper > .col-md-8:first-child > .project-presentation hr:nth-of-type(1) {
    position: relative;
    left: 85px;
    width:50px;
}

.projects-wrapper > .col-md-8:first-child > .project-presentation {
    position: relative;
    left:-10px;
}


.project-presentation img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.25);
}

.projects-wrapper {
    margin-top: 50px;
}

.projects-wrapper > .col-xs-12:last-child {
    float: right;
    position: relative;
    left: 144px;
}

.project-description {
    padding: 25px;
    width: 50%;
    height: auto;
    background-color:rgba(0,0,0,.5);
    position: relative;
    top: -230px;
    right: -80%;
    color: #fff;
    text-align: center;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
}

.project-description p {
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: justify;
    padding: 12px;
}

.projects-wrapper > .col-xs-12:last-child .project-description {
    right:28%;
}

/*.project-description h3 {*/
/*    position: relative;*/
/*}*/

/* .project-description h3::after {
    content:'';
    position:absolute;
    width:80px;
    height:3px;
    background:#fff;
    top:32px;
    left:-40px;
    right:0;
    margin:auto;
} */

.project-description a {
    color: #fff;
    font-weight: 800;
    position: relative;
    top:15px;
}

/* .riverside-project > .project-description {
    position: relative;
    left: -200px;
} */

/* .riverside-project {
    width: 70%;
    float: right;
} */


/* Zoom In #1 */
.our-project-section  {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.our-project-section img:hover {
	-webkit-transform: scale(2.3);
    transform: scale(2.8);
}

/* .our-project-section .zundas-project:hover img,
.our-project-section .riverside-project:hover img {
  transform: scale(1.2);
  filter: brightness(80%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
} */

.our-project-section .project-presentation:hover img {
  transform: scale(1.2);
  filter: brightness(70%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.our-project-section .project-presentation img {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


/* Zoom In #1 */
.project-presentation {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.project-presentation img:hover  {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/* Blog Section */

p.blog-date {
    font-style: italic;
    margin-top: 20px;
    padding-bottom: 15px;
}

.latest-blog-posts h2 {
    text-align: center;
    padding-top: 15px;
}

.latest-blog-posts .card > button {
    margin: auto;
    margin-top: 15px;
}

hr.my-5:last-child {
    border:none;
}

.news-header img {
    width: 100%;
    max-height: 85vh;
    filter: brightness(50%);
    object-fit:cover;
}

.news-header {
    padding-bottom: 30px;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus
{
    box-shadow: none !important;
}

.latest-blog-posts .card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2), 0 2px 15px 0 rgba(0,0,0,.19);
}

.latest-blog-posts {
    margin-bottom: 150px;
    text-align:center;
}

.latest-blog-posts p {
    padding-bottom: 12px;
}


.card img {
    width: 100%;
    height: 220px;
}

.card figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card figure:hover img {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    filter: brightness(80%);
}

.latest-blog-posts figure {
    overflow: hidden;
}

/* Main Page Section End */


/* About Us */

.about-image-header{
    width: 100%;
}

.about-header{
    width:100%;
}

.about-header img {
    width: 100%;
    max-height:85vh;
    filter: brightness(70%);
    object-fit: cover;
}


.about-company h1 {
    bottom: 55px;
    left:15%;
}

.about-company {
    position: relative;
}

.heading-text {
    font-size: 90px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.angle-design {
    border: 3px solid rgb(247, 179, 53);
    opacity: .4;
    border-radius: 3px;
}

.angle-left {
    transform: rotate(90deg);
    height: 100px;
    width: 100px;
    position: relative;
    right: 50px;
    top:70px;
    border-top: 15px solid #fffefe;
    border-right: 72px solid #fffefe;
}

.angle-right {
    transform: rotate(270deg);
    position: absolute;
    /* top:170px; */
    bottom:-30px;
    right:85px;
    border-top: 40px solid transparent;
    border-right: 32px solid transparent;
    height: 110px;
    width: 92px;
}

.about-company  .col-sm-5:nth-child(2) {
    margin-top: 50px;
}

.about-company p {
    font-size: 16px;
    letter-spacing: 2px;
}

.about-photos-wrapper{
    margin: 0px 0px 150px;
    height: 800px;
}

.about_item {
    display: block;
    margin: 0 auto;
    position: relative;
}

.about_item img {
    height: 320px;
}

.about_item:nth-child(1) img {
    max-width: 600px;
    position: relative;
    top:100px;
}

.about_item:nth-child(2) img {
    max-width: 500px;
    float: right;
    position: relative;
    right: 100px;
    z-index:5;
    position: relative;
    bottom:20px;
}

.about_item:nth-child(3) img {
    max-width: 540px;
    position: absolute;
    top: 200px;
    left:100px;
}

.our-team {
    text-align:center;
    position: relative;
    top:120px;
    margin-bottom: 15px;
}

.our-team h1 {
    padding-bottom: 20px;
}

.our-team hr {
    position: relative;
    bottom:15px;
}


.horizontal {
    width: 150px;
    margin: 0 auto;
    background-color: var(--underline);
}

.team-description p {
    margin: 40px auto;
    max-width: 800px;
    text-align: justify;
}



.team-members-block {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.team-members-block > .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.team-members-block img {
    height: 280px;
    width:100%;
    object-fit: cover;
}


.team-member {
    flex: 1;
    margin-bottom: 50px;
    position: relative;
    bottom: 60px;
    border: 5px solid white;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}


.member-info{
    /* background-color: rgba(0,0,0,.5); */
    color: #222;
    /* width: 80%; */
    margin: 0 auto;
    /* position: relative;
    bottom: 50px; */
    text-align: center;
    /* transition: all 750ms; */
}

/* .member-info:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    transition: all 750ms;
} */

.member-info p {
    line-height: 40px;
}

.member-info p:nth-child(2) {
    font-size: 14px;
    font-style: italic;
}

.member-info p:first-child {
    font-weight: bold;
}

.member-info h3::after {
    content:'';
    position: absolute;
    top:38px;
    right:95px;
    width:80px;
    height: 3px;
    background: #fff;
}

.member-info h5 {
    font-style: italic;
}


/* Our projects */

.projects-wrapper {
    margin-top: 80px;
    margin-bottom: 60px;
}


.projects-wrapper img {
    transition: all .5s ease-in-out;
    filter: brightness(100%);
}


.portfolio-gallery-top img {
    position: absolute;
    bottom:278px;
    left:40%;
    height:330px;
}

.portfolio-gallery-top-left img {
    position: absolute;
    bottom:1px;
    left:130%;
    height:584px;
    z-index:2;
}

.portfolio-gallery-bottom img {
    position: absolute;
    bottom:-40px;
    left:40%;
    height:330px;
}

.inner-gallery {
    position: relative;
    left:20%;
}

.inner-gallery img {
    border: 2px solid #fff;
}

.portfolio-element:hover img {
    transition: all .7s ease-in-out;
    filter: brightness(60%);
}

.left-middle-img img{
    width: 100%;
    height: 581px;
}

.portfolio-element:hover .text-overlay {
    visibility: visible;
}

.text-overlay > .cmn-t-underline:after {
    background-color: #fff;
    height: 1px;
}

.text-overlay {
    visibility: hidden;
}


.text-overlay p {
    text-align: center;
    font-size: 24px;
    color: #fff;
    letter-spacing: 1.5px;
    position: absolute;
    font-weight: bold;
    font-family: 'Fira Sans Condensed', sans-serif;
}


/* .inner-gallery .text-overlay p {
    width: 50%;
} */

.portfolio-gallery-main .text-overlay p {
    bottom: 50%;
    left: 15%;
}

.portfolio-gallery-main {
    padding: 0px;
}

.portfolio-gallery-bottom .text-overlay p {
    bottom: 120px;
    left: 75%;
}

.portfolio-gallery-top-left .text-overlay p {
    bottom: 280px;
    left: 165%;
    z-index:10;
}

.portfolio-gallery-top .text-overlay p {
    bottom: 400px;
    /*left:320px;*/
    left: 69%;
}

/* Inspirtation */

.our-mission {
    margin-top: 40px;
    margin-bottom: 80px;
    width:60%;
}

.our-mission  {
    position: relative;
    top:40px;
    letter-spacing: 1.5px;
    font-size: 18px;
    text-align: justify;
    margin: auto;
}


.our-mission span {
    font-size: 16px;
    font-weight: bold;
}

.our-mission blockquote:before {
    color: orange;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: relative;
    right:20px;
}

.our-mission blockquote:after {
    color: orange;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: 10em;
    float: right;
    position: relative;
    top:25px;
    left:20px;
}


.our-projects {
    text-align:center;
}

/* Partners */

.our-partners {
    text-align:center;
    margin-top: 120px;
}

.partners-wrapper {
    margin-top: 40px;
    margin: auto;
    padding:50px;
}


.partners-wrapper img {
    height: 80px;
    width: 145px;
    opacity: 0.52;
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    display: inline-block;
    transition: all .5s;
    padding: 15px;
}


.partners-wrapper img:hover {
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
    transition: all .700s;
}

/* About Us End */


/* Footer */

.main-footer {
    /* position: absolute;
    bottom: 0; */
    color: #fff;
    min-height:300px;
    max-width:100%;
    background-image: url(../images/footer.jpg);
    background-color: rgba(0,0,0,1);
    background-size: 100% 100%;
    position: relative;
    z-index:1;
}

.main-footer:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}

.main-footer .contact-fluid {
    padding-right: 0px !important;
}

.footer-wrapper {
    font-size: 15px;
    font-weight: 400;
    padding-top: 30px;

}

.footer-wrapper p {
    font-family: 'Fira Sans Condensed', sans-serif; 
}

.footer-about {
    padding-bottom: 15px;
}

.footer-about p {
    text-align: justify;
}


.footer-wrapper h4 {
    padding-bottom: 25px;
    padding:4px;
}

.footer-navigation a {
    color: #fff;
}

.footer-navigation a:hover {
    color: #868686;
}

.footer-navigation li {
    list-style-type: disc;
}

.footer-navigation ul:last-child {
    position: relative;
    bottom:8px;
    left:20px;
}

.footer-contact {
    padding-left: 20px;
}

.footer-contact h3 {
    padding-bottom: 25px;
}

.footer-contact li i {
    margin-right: 10px;
}

.social-medias-block {
    /* margin-left: 155px; */
}



ul.social-icons li {
    float: left;
    margin-left: 15px;
    border: 1px solid #6f6f6e;
    border-radius: 50%;
    width: 45px;
    transition: ease-in-out 1s;
}

ul.social-icons li:hover {
    background-color: var(--underline);
    border: 1px solid var(--underline);
    transition: all 1s;
}

.social-icons a:nth-child(1) li:hover {
    background: #13aff0;
    border:1px solid #13aff0;
}

.social-icons a:nth-child(2) li:hover {
    background: #db3236;
    border:1px solid #db3236;
}

.social-icons a:nth-child(3) li:hover {
    background: #3b5998;
    border:1px solid #3b5998;
}

.social-icons a:nth-child(4) li:hover {
    background: #dc2743;
    border: 1px solid #dc2743;
}


.social-icons i {
    font-size: 18px;
    color: #fff;
    margin: 12px 0 10px 12px;
}

.social-icons .fa-facebook-f {
    margin-left:17px;
}

.social-icons .fa-instagram {
    position: relative;
    left:2px;
}


.newsletter-subscribe-form p {
    max-width: 370px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    text-align:justify!important;
}

.footer-navigation li,
.footer-contact ul li {
    padding-bottom: 15px;
}


.newsletter-subscribe-form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /*margin-top: 40px;*/
}

.newsletter-subscribe-form label {
    position: relative;
    top :0;
    color: #fff;
}

.newsletter-subscribe-form input,
.newsletter-subscribe-form input:focus,
.newsletter-subscribe-form input:active {
    background: none;
    color: #fff;
}

.newsletter-subscribe-form > .form-control:focus {
    border-color: none !important;
}

.newsletter-subscribe-form ::placeholder  {
    color: #868686;
    font-size: 14px;
}

.newsletter-subscribe-form input[type=checkbox] {
    width: 40px;
    height:18px;
}

.newsletter-subscribe-form button {
    color: #fff;
    transition: ease-in-out .4s;
}

.newsletter-subscribe-form button:hover,
.newsletter-subscribe-form button:focus,
.newsletter-subscribe-form button:active {
    background-color: rgba(255,255,255,1) !important;
    color: #222 !important;
    transition: ease-in-out .8s;
}

.newsletter-subscribe-form label {
    font-size: 16px;
}


.footer-bottom-copyright {
    min-height: 80px;
    width: 100%;
    background-color:rgba(0,0,0, 1);
    font-size: 18px;
    margin-top: 20px;
    clear: both;
}

.footer-bottom-copyright span {
    font-size: 16px;
}

.footer-bottom-copyright .copyright {
    margin-top: 30px;
}

.copyright {
    margin-left: 100px;
}


.sub-projects li {
    position: relative;
    top:10px;
}


.breadcrumb {
    position:relative;
    padding-top: 30px;
    background: none;
    /*padding: 10px;*/
    /*padding-bottom:35px;*/
}

nav[aria-label="breadcrumb"] {
    padding: 0;
}

.breadcrumb a {
    color: #6c757d;
}

.breadcrumb a:hover {
    color: #222;
    text-decoration: underline;
}

.breadcrumb .active a {
    color: #434649;
}


.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0px;
}

.info p {
    text-align:center;
    color: #222;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
}


.background {
    background-color: #FFD20A;
    height:700px;
    overflow:hidden;
    border:4px solid #000;
    border-bottom:0px solid #000;
}

.fixed {
    z-index:10;
    position: fixed;
}

.contact-form-apartment {
    text-align:center;
    max-width: 100%;
    background-color:rgba(0,0,0,.6);
    color:#fff;
    width:300px;
    bottom: 0;
    right: 20px;
    border-radius: 6px 6px 0px 0px;
}

.contact-form-apartment form,
.contact-form-apartment p,
.contact-form-apartment i {
    display: none;
}

.contact-form-apartment h1 {
    border-radius: 6px 6px 0px 0px;
    text-align:center;
    color:#fff;
    text-shadow:none;
    font-size:16px;
    font-weight:600;
    margin:0;
    padding:15px 10px;
    cursor:pointer;
}

.contact-form-apartment h1::after {
    width:0;
}

.contact-form-apartment .form-group:last-child {
    position: relative;
    /*right:25px;*/
    /*padding-left:15px;*/
}

.contact-form-apartment a {
    position: relative;
    left:15px;
}

.contact-form-apartment button {
    color: #222;
}

.contact-form-apartment form {
    padding: 15px 10px;
}

.contact-form-apartment input,
.contact-form-apartment textarea,
.contact-form-apartment textarea:focus,
.contact-form-apartment input:focus {
    background: none;
    color: #fff;
}

.contact-form-apartment button,
.contact-form-apartment a {
    color: #fff;
}

.contact-form-apartment input::-webkit-input-placeholder,
.contact-form-apartment textarea::-webkit-input-placeholder {
    color: #fff;
}

.contact-form-apartment input::placeholder,
.contact-form-apartment textarea::placeholder {
    color: #fff;
}


.contact-form-apartment input::-moz-placeholder,
.contact-form-apartment textarea::-moz-placeholder {
    color: #fff;
}


.contact-form-apartment i {
    position:absolute;
    top:-10px;
    right:0px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding:20px;
    font-style:normal;
    cursor:pointer;
}

#contact-form button span {
    color: #222;
}

/*
.validation {
    display:none;
    margin: 0 0 20px;
    font-size:15px;
    color: #DE5959;
    text-align: center;
}

.validmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

.validmessage.show {
    display:block;
} */


  /*
  .content {
    background-color:#fff;
    width:70%;
    margin:50px auto;
    display:block;
    height:400px;
    box-shadow: 0px 0px 15px 0px #333;
  }
  .content h2 {
    background-color:#CCC;
    font-size:19px;
    padding:12px 40px;
    border-bottom:1px solid #b5b5b5;
  }
  .content p{
    padding:25px 40px;
  }

  */


.image {
    position: relative;
    background: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}


.image:after {
    display: block;
    font-size: 42px;
    z-index: 2;
    color:#CECECE;
    position: absolute;
    top: 35%;
    left:140px;
    font-family: "Font Awesome 5 Free";
    content: '\f302';
    border: none;
}

.nl-form{
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.nl-btn{
    border-radius: 0rem .25rem 0.25rem 0rem;
}

/* Slider on search page */


.full-width-slider-search #carousel-custom {
    margin-top: 0;
}

.full-width-slider-search  .carousel-item img  {
    width:100%;
    min-height: 85vh;
     object-fit: cover; 
    filter: brightness(50%);
}

.full-width-slider-search  .carousel-item {
    min-height: 100%;
}


.full-width-slider-search .carousel-control-next,
.full-width-slider-search .carousel-control-prev {
    background:none;
}

.please-visit-link{
    color: #6c757d
}
.please-visit-link :hover{
    color:  #495057
}

.google-maps
{
    width: 100%;
    height: 100%;
}

.google-maps-iframe{
    width: 100%;
    height: 100%;
}

/*.input-form{*/
/*    position: relative;*/
/*    right: 40px;*/
/*}*/


.clear-form{
    position: absolute;
    bottom: 0px;
    /*left: 158px;*/
    left:190px;
}
.btn{
    box-shadow:none!important;
    font-family: 'Montserrat', sans-serif;
}
.phone-btn{
    margin-left: 0px;
    margin-top: 30px;
    max-width: 100%!important;
}
.send-btn{
    max-width: 100%!important;
}
.penult-form{
    margin-bottom:0px!important;
}

@media only screen and (max-width:1200px) {
    .angle-right {
        right:2%;
    }
    
}

@media only screen and (max-width:961px) {
    .angle-right {
        right:2%;
    }
    .projects-wrapper{
        transform:scale(0.9)!important;
    }
    .contact-page-wrapper{
        margin-top:85px;
    }
    .newblogpost img {
        max-width:100%;
    }
    
}
@media only screen and (max-width:767px){
    .right-text-column{
        margin-left:17rem!important;
        margin-top: -100%!important;
    }
    .price-section-type{
        margin-bottom:15px;
    }
    .features-wrapper .col-sm-6 {
        text-align: left;
        padding-left: 18%!important;
        padding-right:0px;
    }
    .contact-page-wrapper h1{
        left:4%;
    }
    .card img {
        height:400px;
        object-fit:cover;
    }
    .latest-blog-posts .card-body a {
        width: 60%;
    }
    
}
@media only screen and (max-width:575px) {
    .angle-left{
        right:10px;
    }
    .angle-right{
        right: 0%;
    }
    .right-text-column{
        margin-left:3rem!important;   
        margin-top: 50px!important;
    }
    .call-us{
        left:0px!important;
        margin-top: 10px;
    }
    .features-wrapper .col-sm-6 {
    text-align: left;
    padding-left: 35%!important;
    }
}

.price-section-type{
    /*position: relative;*/
    /*top: 100px;*/
    /*left: 380px;*/
    /* float: left; */
}
.price-section-type h4{
    background-color: #585858;
    color: #fff;
    font-size: 12px;
    padding: 10px 14px;
    font-family: "Montserrat";
    border-radius: 2px;
    margin-top: -2px;
    text-transform: uppercase;
    display: inline;
}

.price-section{
    margin-top:-20px;
}

.price-section-div h4{
    /*position: relative;*/
    /*right: 10px;*/
    /*top: 140px;*/
    font-family: "Open Sans";
}

.left-property-sect {
    text-align:left;
}

.left-property-sect h1 {
    /*right: 460px;*/
    margin-left: 10px;
    font-family: "Fira Sans Condensed";
    font-size: 31px;
    /*top: 10px;*/
}
.left-property-sect h1::after{
    display:none;
}
.left-property-sect p {
    position: relative;
    left: 14px;
}
.left-property-sect p i {
    color:#888;
}
.left-property-sect p strong{
    color:#888;
}



.price-section-wrapper {
    display:grid;
    align-items:end;
    justify-items:right;
    padding-right: 30px;
}

i{
    color: orange;
}

.list-group-item img{
    width:20px;
    position:relative;
    bottom: 3px;
    
}
.social-icons i {
    color:white!important;
}

@media only screen and (max-width:1200px){
    .our-projects{
        display:none;
    }
}
.contact-image-header img{
    width: 100%;
    max-height: 85vh;
    filter: brightness(70%);
    object-fit: cover;
}

.input-group-btn input{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.appartment-page-wrapper{
    margin-top:12%;
}

.news-page-wrapper{
    margin-top:12%;
}

.features-wrapper .col-sm-6 {
    text-align: left;
    padding-left: 20%;
}
.mCSB_dragger_bar{
    background-color:orange !important;
}

.alert-grey {
    background-color: #e0e0e0;
}

